[submodule "Libraries/OCFWebServer"]
	path = Libraries/OCFWebServer
	url = https://github.com/Objective-Cloud/OCFWebServer.git
[submodule "Libraries/cocoalibspotify"]
	path = Libraries/cocoalibspotify
	url = https://github.com/spotify/cocoalibspotify.git
